<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BloqExplorer | Your BLOCKCHAIN constructor</title>
    <link rel="shortcut icon" href="/img/logo.gif" type="image/gif">

    <!-- Bootstrap + jQuery -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <!-- Vue.js -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- Bootstrap/Vue -->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script src="../static/js/main.js"></script>
</head>

<body>
<div id="app">
    <app></app>
</div>

<!--<script>-->
    <!--var app = new Vue({-->
        <!--el: '#app'-->
    <!--})-->
<!--</script>-->

<!-- Jumbotron Section -->
<!--<div class="container-fluid">-->
<!--<div class="jumbotron">-->
<!--<h1 class="display-3"><i>...simply join the idea...</i></h1>-->
<!--<p class="lead">Your dreams - our design.</p>-->
<!--<hr class="my-4">-->
<!--<p>Building the excellent future is a passion. This is what we do.</p>-->
<!--<p class="lead">-->
<!--<a class="btn btn-outline-primary" href="#" role="button">Learn more</a>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->

<!-- jQuery DataTables -->
<!--<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">-->
<!-- jQuery DataTables -->

</body>
</html>